<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  

        <title>Confirm Your Account</title>

    </head>


    <body>

        <p>You've recieved an account confirmation link in your mailbox.</p>
        <p>Check your mailbox and click the confirmation link.</p>
        
    </body>
</html>