<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  

        <title>My Vathys</title>

    </head>

    <body>

        <h1>Your Vathys</h1>
        <% if (vathultList[0]) { %>
            <%for (i = 0; i < vathultList.length; i++) { %>

                <p><%= `${vathultList[i].name ? vathultList[i].name : vathultList[i].serial_number}` %></p>
                <form action="/device/<%= vathultList[i].id %>" method="GET">

                    <button type="submit"><%= `${vathultList[i].name ? vathultList[i].name : vathultList[i].serial_number}` %> Overview</button>

                </form>
        <% } %>
            
        <%} else { %>
            <p>No registered Vathys!</p>
        <% } %>
        
        
        <br>

        <form action="/new-device" method="GET">

            <button type="submit">Add a Vathy</button>
        
        </form>

        <br>

        <form action="/dashboard" method="GET">

            <button type="submit">Dashboard</button>

        </form>

        <form action="/logout?_method=DELETE" method="POST">

            <button type="submit">Log Out</button>

        </form>

    </body>
</html>