<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  

        <title>Dummy 1</title>

    </head>

    <body>

        <h1>Dummy 1</h1>


        <h2>Overview</h2>
        <p>Online since 01-31-23</p>
        <p>* Rain Water Level : OK</p>
        <p>* Vavle 1 : ON</p>
        <p>* Vavle 2 : ON</p>
        <p>* Vavle 3 : ON</p>
        <p>* Vavle 4 : OFF</p>
        <p># Error detected : 0</p>


        <form action="/devices" method="GET">

            <button type="submit">My Vathys</button>

        </form>

        <form action="/dashboard" method="GET">

            <button type="submit">Dashboard</button>

        </form>

        <form action="/logout?_method=DELETE" method="POST">

            <button type="submit">Log Out</button>

        </form>

    </body>
</html>