<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  

        <title>My Vathys</title>

    </head>

    <body>

        <h1>Your Vathys</h1>


        <p>Dummy 1</p>
        <form action="/device/1" method="GET">

            <button type="submit">Dummu 1 Overview</button>

        </form>

        <!--  TODO

        <form action="/new-device" method="GET">

            <button type="submit">Add a Vathy</button>
        
        </form>

        -->

        <form action="/dashboard" method="GET">

            <button type="submit">Dashboard</button>

        </form>

        <form action="/logout?_method=DELETE" method="POST">

            <button type="submit">Log Out</button>

        </form>

    </body>
</html>