<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" href="/styles/style.css" type="text/css" />

        <title>VATHULT 3000 - Alpha Version</title>

    </head>


    <body>

        <h1 class="text-slate-100">VATHULT 3000 - Alpha Version</h1>
        <h2>Home Page</h2>
        <p>Le site est encore vide, veuillez patienter svp...</p>


        <form action="/login" method="GET">

            <button type="submit">Log in</button>
        
        </form>

        <form action="/register" method="GET">

            <button type="submit">Register</button>
        
        </form>

        <form action="/dashboard" method="GET">

            <button type="submit">Dashboard</button>
        
        </form>

    </body>
</html>