<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  

        <title>Add a Vathy</title>

    </head>

    <body>

        <h1>Add a new Vathy to your collection</h1>


        <h2>Informations :</h2>

        <form action="/save-new-device" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div>
                <label for="serial-number">Serial Number</label>
                <input type="text" id="serial-number" name="serial-number" required>
            </div>


            <button type="submit">Add a new Vathy</button>
        </form>

        <form action="/devices" method="GET">
            <button type="submit">Cancel</button>
        </form>

    </body>
</html>